<!DOCTYPE html>
<html>
<title>Stock Analyser</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style.css">
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
    crossorigin="anonymous"
></script>

<script src="../static/JS.js"></script>

<body class="light-grey">

<!-- Sidebar/menu -->
<nav class="sidebar white animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="container row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Adrian</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button padding"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button padding"><i class="fa fa-search" aria-hidden="true"></i>  search</a>
    <a class="w3-bar-item w3-button padding" onClick="window.location.reload();"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Page</a>
    <a href="#" class="w3-bar-item w3-button padding blue"><i class="fa fa-download" aria-hidden="true"></i> download</a>
  </div>
</nav>


<!-- BOXES -->
<div class="main" id="main">
  <a class="menu" onclick="menu()"><i class="fa fa-bars" aria-hidden="true"></i></a>
  <header class="container">
    <h5><b><i class="fa fa-dashboard"></i> Stock Analyzer </b></h5>
  </header>
  <div class="w3-row-padding margin-bottom">
    <a href="{{ url_for('home') }}" class="w3-quarter box">
      <div class="container red padding-16">
        <div class="fa fa-bank fa-fw extra_large"></div>
        <div class="clear"></div>
        <h4>General</h4>
      </div>
    </a>
    <a href="{{ url_for('news') }}" class="w3-quarter box">
      <div class="container blue padding-16">
        <div class="w3-left"><i class="fa fa-bell fa-fw extra_large"></i></div>
        <div class="clear"></div>
        <h4>News</h4>
      </div>
    </a>
    <a href="{{ url_for('graph') }}" class="w3-quarter box">
      <div class="container teal padding-16">
        <div class="w3-left"><i class="fa fa-line-chart extra_large" aria-hidden="true"></i></div>
        <div class="clear"></div>
        <h4>Graphs</h4>
      </div>
    </a>
    <a class="w3-quarter box">
      <div class="container orange white padding-16">
        <div class="w3-left"><i class="fa fa-cog fa-fw extra_large"></i></div>
        <div class="clear"></div>
        <h4>Settings</h4>
      </div>
    </a>
  </div>
{% block content %}
{% endblock %}
</div>

</body>
</html>