{% extends "base.html" %}
<html lang="en">
<body>
{% block content %}
<div class="feed">
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-twothird">
            <h5>Feeds</h5>
            <table class="w3-table w3-striped white">
                <tr>
                    <td><i class="fa fa-bookmark w3-text-orange w3-large"></i></td>
                    <td>Check AAPL stock.</td>
                    <td><i>28 mins</i></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>