{% extends "base.html" %}
<html lang="en">
<body>
{% block content %}

<div class="form-group">
    <input class="form-field" name="stock" id="stock" placeholder="Ticker"><br>
    <span style="display: inline;" onclick="fetch_data(document.getElementById('stock').value, 20)"><i
            class="fa fa-search" aria-hidden="true"></i></span>
</div>


<div id="chart"></div>

<div id="RSI"></div>


<img id="stock_image" src="../static/stock.svg" width="300" height="300">


<a id="link" href="{{ url_for('home') }}"> How this prediction works?</a>
{% endblock %}
</body>
</html>