{% extends "base.html" %}
<html lang="en">
{% block content %}
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{{ url_for('graph') }}" method="post" style="text-align: center">
    <input type="text" name="projectFilepath">
    <input type="submit">
</form>
<div id="chartContainer" style="height: 350px; width: 80%;"></div>
  <hr>
  <div class="container">
    <h5>Is it a good trade?</h5>
    <p>Low Risk</p>
    <div class="grey">
      <div class="container center padding green" style="width:25%">+25%</div>
    </div>

    <p>Medium Risk</p>
    <div class="grey">
      <div class="container center padding orange" style="width:50%">50%</div>
    </div>

    <p>High Risk</p>
    <div class="grey">
      <div class="container center padding red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>
</div>

{% endblock  %}
</body>
</html>