{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/JS.js"></script>
    {% endblock head %}
</head>
<body>
{% block content %}
<div id="chart"></div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
<script>
    var options = {
        chart: {
            height: 350,
            type: 'candlestick',
        },
        series: [{
            data: [{
                x: "2020-02-01",
                y: [6629.81, 6650.5, 6623.04, 6633.33]
            },
                {
                    x: "2020-02-02",
                    y: [6632.01, 6643.59, 6620, 6630.11]
                },
                {
                    x: "2020-02-03",
                    y: [6630.71, 6648.95, 6623.34, 6635.65]
                },
                {
                    x: "2020-02-04",
                    y: [6635.65, 6651, 6629.67, 6638.24]
                },
                {
                    x: "2020-02-05",
                    y: [6638.24, 6640, 6620, 6624.47]
                },
                {
                    x: "2020-02-06",
                    y: [6624.53, 6636.03, 6621.68, 6624.31]
                }
            ]
        }],
        title: {
            text: 'CandleStick Chart',
            align: 'left'
        },
        xaxis: {
            interval: 1,
            valueFormatString: "MMM"
        },
        yaxis: {
            tooltip: {
                enabled: true
            }
        }
    }
    // -------------------------
    var chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );
    chart.render();
    //--------------------------

</script>
{% endblock %}
</body>
</html>