{% extends "base.html" %}
<body>
{% block content %}

<script>
    document.getElementById('three_points').style.display = "inline";
</script>


<main>
    <section id="initial">
        <div class="container_with_image">
            <div class="image_in_container">
                <img class="menu_images" src="../static/PHOTO/home_pic.png">
            </div>
            <div style="margin-left: 50px;" class="text_in_container">
                <h1 class="title">Why you should invest?</h1>
                <div style="color: lightslategrey">
                    I believe being financially educated is nowadays vital but it can seem very hard since we did not
                    learn
                    it in school. That's why most people tend to give up too early.
                    This App is made to provide the basic knowledge and build your fundamentals in order for you
                    to have an easy first step in the financial world.
                </div>
            </div>
        </div>
    </section>


    <section id="indicators">
        <div class="container_with_image">
            <div class="text_in_container">
                <h1 class="title">Indicators</h1>
                <p style="max-width: 80%; white-space: pre-line; color: lightslategrey">
                    Economic indicators are some of the most valuable tools investors can place in their arsenals.
                    In the selection <a href="{{ url_for('graph') }}"><b>Graphs</b></a> you will see 2 of the most
                    famous ones.
                    <b>RSI:</b> is a momentum indicator used in technical analysis that measures the magnitude of recent
                    price
                    changes to evaluate overbought or oversold conditions in the price of a stock or other asset.
                    The RSI is displayed as an oscillator (a line graph that moves between two extremes) and can have a
                    reading
                    from 0 to 100 and our other indicator is the EMA.
                    <b>EMA:</b> The exponential moving average (EMA) is a technical chart indicator that tracks the
                    price of an
                    investment (like a stock or commodity) over time.</p>
            </div>
            <div class="image_in_container">
                <img style="width: 900px;height: 500px;" class="menu_images" src="../static/PHOTO/wallet.png">
            </div>
        </div>
    </section>


    <section id="about">
        <div class="container_with_image">
            <div class="image_in_container">
                <img style="width: 700px; margin-top: 50%" id="about_us_img" src="../static/PHOTO/about_us.png">
            </div>
            <div style="margin-left: 50px;" class="text_in_container">
                <h1 class="title" style="max-width: 100%; margin-top: 150px">About Us</h1>
                <div style="color: lightslategrey">
                    Investing allows you to significantly grow your money over time thanks to the power of compound
                    returns.
                    Compounding can be called the Eight Wonder of the World. Thanks to the power of compounding, a
                    single penny
                    could grow into millions of dollars, given enough time.
                </div>
            </div>
        </div>
    </section>


    <section id="help">
        <div class="container_with_image">
            <div class="image_in_container">
                <img id="help_and_support_img" src="../static/PHOTO/help_and_support.png">
            </div>
            <div style="margin-left: 50px;" class="text_in_container">
                <h1 class="title" style="max-width: 100%; margin-top: 150px">What Can We Help You With?</h1>
                <form action="/contact_us" style="max-width: 80%;">
                    <label style="display: block" for="fname">Name</label>
                    <input class="contact_us" type="text" id="fname" name="firstname" placeholder="Name *">
                    <label style="display: block" for="femail">Email</label>
                    <input class="contact_us" type="text" id="femail" name="femail" placeholder="Email *">
                    <label style="display: block" for="subject">Subject</label>
                    <textarea class="contact_us" id="subject" name="subject" placeholder="Message *"
                              style="height:170px; width: 100%; margin-bottom: 20px;"></textarea>
                    <input class="send_button" type="submit" value="Send">
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
</body>
</html>