{% extends "base.html" %}
<body>
{% block content %}
<script>
    document.getElementById('three_points').style.display = "inline";
</script>

<main>
    <section id="graphs" style="margin-top: 100px">
        <div class="container_with_image">
            <div class="image_in_container">
                <div style="margin-top: 150px;" id="demo"></div>
            </div>
            <div style="margin-left: 50px;" class="text_in_container">
                <a style="color: blue" href="{{ url_for('graph') }}"> Try it yourself! </a>
                <p>Search your favorite stocks and see their technical analysis and their statistics.</p>
            </div>
        </div>
    </section>
    <script src="../static/JS/demo_chart.js"></script>
    <section id="the_tops" style="margin-top: 100px">
        <div class="container_with_image" id="tops">
            <div class="image_in_container">
                <img id="stats_image" src="../static/SVG/trophy.svg" width="300" height="300">
            </div>
            <div id="stats_buttons" style="margin-left: 50px;" class="text_in_container">
                <h1 style="margin-top: 150px" class="title">Most searched
                    Categories</h1>
                <form action="{{url_for ('tops') }}" method="POST">
                    <input style="margin-bottom: 30px;" type="submit" class="table_titles" name="submit_button"
                           value="Show Top Gainers Today">
                    <input type="submit" class="table_titles" name="submit_button" value="Show Top Losers today">
                </form>
            </div>
        </div>
    </section>


    <section id="about">
        <div class="container_with_image">
            <div class="image_in_container">
                <img style="width: 700px; margin-top: 50%" id="about_us_img" src="../static/PHOTO/about_us.png">
            </div>
            <div style="margin-left: 50px;" class="text_in_container">
                <h1 class="title" style="max-width: 100%; margin-top: 150px">About Us</h1>
                <div style="color: lightslategrey">
                    I believe being financially educated is nowadays vital but it can seem very hard since we did not
                    learn
                    it in school. That's why most people tend to give up too early.
                    This App is made to provide the basic knowledge and build your fundamentals in order for you
                    to have an easy first step in the financial world.
                    Investing allows you to significantly grow your money over time thanks to the power of compound
                    returns.
                    Compounding can be called the Eight Wonder of the World. Thanks to the power of compounding, a
                    single penny
                    could grow into millions of dollars, given enough time.
                </div>
            </div>
        </div>
    </section>


    <section id="help">
        <div class="container_with_image">
            <div class="image_in_container">
                <img id="help_and_support_img" src="../static/PHOTO/help_and_support.png">
            </div>
            <div style="margin-left: 50px;" class="text_in_container">
                <h1 class="title" style="max-width: 100%; margin-top: 150px">What Can We Help You With?</h1>
                <form action="/contact_us" style="max-width: 80%;">
                    <label style="display: block" for="fname">Name</label>
                    <input class="contact_us" type="text" id="fname" name="firstname" placeholder="Name *">
                    <label style="display: block" for="femail">Email</label>
                    <input class="contact_us" type="text" id="femail" name="femail" placeholder="Email *">
                    <label style="display: block" for="subject">Subject</label>
                    <textarea class="contact_us" id="subject" name="subject" placeholder="Message *"
                              style="height:170px; width: 100%; margin-bottom: 20px;"></textarea>
                    <input class="send_button" type="submit" value="Send">
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
</body>
</html>