{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
{% block content %}
<style>
    ::placeholder {
        color: gray;
    }

</style>
<link rel="stylesheet" href="../static/CSS/form.css">
<section class="form animated flipInX">
    <h1>Login To Your Account</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('login') }}" method="POST" autocomplete="off">
        <input placeholder="Username" type="text" name="username" id="username" required="required">
        <input placeholder="Password" type="password" name="password" id="password" required="required">
        <button id="submit">Login</button>
        <a style="color: blue" href="{{ url_for('register') }}"> Don't have an account yet?</a>
    </form>
</section>
{% endblock %}
</body>
</html>