{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
{% block content %}
<style>
    ::placeholder {
        color: gray;
    }

</style>
<link rel="stylesheet" href="../static/CSS/form.css">
<section class="form animated flipInX">
    <h1>Login To Your Account</h1>
    <p class="valid">Valid. Please wait a moment.</p>
    <p class="error">Error. Please enter correct Username &amp; password.</p>
    <form class="loginbox" autocomplete="off">
        <input placeholder="Username" type="text" id="username"></input>
        <input placeholder="Password" type="password" id="password"></input>
        <button id="submit">Login</button>
        <a style="color: blue" href="{{ url_for('register') }}"> Don't have an account yet?</a>
    </form>
</section>
{% endblock %}
</body>
</html>