{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% block content %}
<link rel="stylesheet" href="../static/CSS/form.css">
<section class="form animated flipInX">
    <h1>Register</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('register') }}" method="POST" autocomplete="off">
        <input placeholder="Username" type="text" name="username" id="username">
        <input placeholder="Email" type="text" name="email" id="email">
        <input placeholder="Password" type="password" name="password" id="password">
        <input placeholder="Repeat Password" type="password" name="rpassword" id="rpassword">
        <button id="submit">Register</button>
        <a style="color: blue" href="{{ url_for('login') }}"> Have an account already?</a>
    </form>
</section>
{% endblock %}
</body>
</html>