{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div style="margin: 50px">
    <form id='submit-form' class="form-group">
        <input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
               class="form-field" name="stock" id="stock" placeholder="Ticker" required="required"><br>
        <button type="submit" class="search"
                onclick="console.log('pressed a button')">
            <i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
<img id="stats_image" src="../static/stats.svg" width="300" height="300">
{% endblock %}
</body>
</html>