{% extends "base.html" %}
<html lang="en">
<head>
</head>
<body>
{% block content %}
<div id="gainers" style="display: block">
    <h1 class="title" style="margin-top: 50px">Record of the first 100:</h1>
    <table id="top_gainers" class="styled-table">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
            <th>Change %</th>
            <th>Volume</th>
            <th>Market Cap</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row.Symbol }}</td>
                <td>{{ row.Name }}</td>
                <td>{{ row.Price }}</td>
                <td>{{ row.Change }}</td>
                {% if row.change_percentage < 0 %}
                    <td style="color: #ef0e0e">{{ row.change_percentage }}</td>
                {% else %}
                    <td style="color: #37d037">{{ row.change_percentage }}</td>
                {% endif %}
                <td>{{ row.Volume }}</td>
                <td>{{ row.market_cap }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</body>
</html>