{% extends "base.html" %}
<html lang="en">
<body>
{% block content %}
<div id="tops">
    <h1 style="text-align: center;margin-top: 50px; color: #cb7a03; margin-bottom: 50px">Most searched Categories</h1>
    <div id="stats_buttons">
        <form action="{{url_for ('tops') }}" method="POST">
            <input type="submit" class="table_titles" name="submit_button" value="Show Top Gainers Today">
            <input type="submit" class="table_titles" name="submit_button" value="Show Top Losers today">
            <input type="submit" class="table_titles" name="submit_button" value="Show Top Actives today">
        </form>
        <!--<button id="tittle_losers" class="table_titles" onclick="fetch_tops('losers')"> Show Top Losers today </button>-->
    </div>
    <img id="stats_image" src="../static/SVG/trophy.svg" width="300" height="300">
</div>
{% endblock %}
</body>
</html>